*{
    box-sizing: border-box;
}p{
    font-family: auto;
}
%main_transition{
    transition: all .4s ease-in-out;
}
.bg_main_color{
    background-color:$bg_main_color;
    color:#ccc
}.main_padding{
    padding:80px 0;
}.res_padding{
    padding:0
}
.main_head{
    text-align:center;
    margin:30px auto;
    h2{
        font-size: 40px;
        line-height: 21px;
        font-weight: 800;
        margin-bottom:70px;
        span{
            color:$Second_color;
            display: inline-block;
        }
    }
}
.main_btn{
    border: 2px solid $Second_color;
    display: block;
    padding: 10px 54px;
    margin: 25px auto;
    font-size: 26px;
    font-weight: bold;
    color:$Second_color;
    @extend %main_transition;
    &:hover{
        background-color: $Second_color;
        color: #ccccccb2;
        border: 2px solid #cccccc8e;
    }
}::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-thumb {
background-color: $Second_color;
}


form{
    .form-group{
        margin-bottom: 11px;
        label{
            color: white;
            font-weight: 300;
            font-size: 18px;
        }

    }
    .form-control{
        background-color: #1f1f1f;
        border: 1px solid $Second_color;
        border-radius: 0;
        font-size: 16px;
        padding: 24px 15px;
        &:focus {
            color: #e0e0d9;
            background-color: #1f1f1f;
            border-color: $Second_color;
            outline: 0;
            box-shadow: none;
        }
    }
}

%icon_box{
    padding: 2px 0;
    text-align: center;
    font-size: 24px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    height: 44px;
}%title_box {
    line-height: 37px;
    p{
        margin-top: 0px;
    }
}

// Start nav_right
.nav_right{
    position: fixed;
    z-index: 100;
    margin-top: -53.5px;
    right: 17px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    ul{ 
        padding:0;
        margin:0;
        li{
            display: block;
            width: 14px;
            height: 13px;
            margin: 7px;
            position: relative;
            a{
                display: block;
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                cursor: pointer;
                text-decoration: none;
                margin: 20px 0;
                span{
                    border-radius: 50%;
                    position: absolute;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    border: 0;
                    background: #fff;
                    left: 50%;
                    top: 50%;
                    margin: -2px 0 0 -2px;
                    @extend %main_transition;
                    &.active{
                        background: $Second_color;
                    }
                }
            }
            &:hover{
                span{
                    width: 20px;
                    height: 20px;
                    margin: -5px 0px 0px -5px;
                }
            }
            
        }
    }
    
}
// End nav_right