* {
  box-sizing: border-box;
}

p {
  font-family: auto;
}

.sec_contact .social_media .icon_box, .sec_contact .con_footer_box .icons .icon_box, .sec_contact .con_footer_box .icons, .sec_portfolio .demo-gallery ul li a .demo-gallery-poster, .sec_portfolio .demo-gallery ul li a:hover .demo-gallery-poster, .sec_portfolio .card .card-body, .sec_portfolio .card, .main_nav .navbar-light .navbar-brand, .main_nav .navbar-light .navbar-nav .nav-link, .header .navbar-light .navbar-nav .nav-link, .nav_right ul li a span, .main_btn {
  transition: all 0.4s ease-in-out;
}

.bg_main_color {
  background-color: #1a1a1a;
  color: #ccc;
}

.main_padding {
  padding: 80px 0;
}

.res_padding {
  padding: 0;
}

.main_head {
  text-align: center;
  margin: 30px auto;
}
.main_head h2 {
  font-size: 40px;
  line-height: 21px;
  font-weight: 800;
  margin-bottom: 70px;
}
.main_head h2 span {
  color: #D43F52;
  display: inline-block;
}

.main_btn {
  border: 2px solid #D43F52;
  display: block;
  padding: 10px 54px;
  margin: 25px auto;
  font-size: 26px;
  font-weight: bold;
  color: #D43F52;
}
.main_btn:hover {
  background-color: #D43F52;
  color: #ccccccb2;
  border: 2px solid #cccccc8e;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #D43F52;
}

form .form-group {
  margin-bottom: 11px;
}
form .form-group label {
  color: white;
  font-weight: 300;
  font-size: 18px;
}
form .form-control {
  background-color: #1f1f1f;
  border: 1px solid #D43F52;
  border-radius: 0;
  font-size: 16px;
  padding: 24px 15px;
}
form .form-control:focus {
  color: #e0e0d9;
  background-color: #1f1f1f;
  border-color: #D43F52;
  outline: 0;
  box-shadow: none;
}

.sec_contact .social_media .icon_box, .sec_contact .con_footer_box .icons .icon_box {
  padding: 2px 0;
  text-align: center;
  font-size: 24px;
  border: 1px solid #bebcbc;
  border-radius: 2px;
  height: 44px;
}

.sec_contact .social_media .title_box, .sec_contact .con_footer_box .icons .title_box {
  line-height: 37px;
}
.sec_contact .social_media .title_box p, .sec_contact .con_footer_box .icons .title_box p {
  margin-top: 0px;
}

.nav_right {
  position: fixed;
  z-index: 100;
  margin-top: -53.5px;
  right: 17px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}
.nav_right ul {
  padding: 0;
  margin: 0;
}
.nav_right ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}
.nav_right ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  margin: 20px 0;
}
.nav_right ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
}
.nav_right ul li a span.active {
  background: #D43F52;
}
.nav_right ul li:hover span {
  width: 20px;
  height: 20px;
  margin: -5px 0px 0px -5px;
}

.header .bg-light {
  background-color: #333 !important;
}
.header .navbar-light .navbar-nav .nav-link {
  color: #ccc;
  font-size: 17px;
}
.header .navbar-light .navbar-nav .nav-link svg {
  margin-right: 3px;
}
.header .navbar-light .navbar-nav .nav-link:focus, .header .navbar-light .navbar-nav .nav-link:hover {
  color: #D43F52;
}
.header .navbar-light .navbar-nav .active .nav-link {
  color: #D43F52;
}

.main_nav .bg-light {
  background-color: #fff !important;
}
.main_nav .navbar-light .navbar-nav .nav-link {
  color: #a3a1a1;
  font-weight: bold;
  font-size: 17px;
}
.main_nav .navbar-light .navbar-nav .nav-link:focus, .main_nav .navbar-light .navbar-nav .nav-link:hover {
  color: #D43F52;
}
.main_nav .navbar-light .navbar-nav .active .nav-link {
  color: #D43F52;
}
.main_nav .navbar-light .navbar-brand {
  color: #a3a1a1;
}
.main_nav .navbar-light .navbar-brand:focus, .main_nav .navbar-light .navbar-brand:hover {
  color: #D43F52;
}

.main_slideshow {
  background-image: url(../images/home-bg.jpg);
  background-size: cover;
  height: 600px;
}
.main_slideshow .content {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#b3b3b3ad, #08080973);
  padding: 120px 0;
}
.main_slideshow .content h4 {
  color: #e3e3e3;
  font-size: 24px;
}
.main_slideshow .content a.main_btn {
  width: 259px;
}
.main_slideshow .content h3 {
  margin: 31px auto;
  color: #ce4b5b;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}
.main_slideshow .content p {
  font-size: 18px;
  padding: 20px 164px;
  color: #b5b4b4;
}

.what_id_do {
  background-color: #272727;
  color: #ccc;
}
.what_id_do .box span {
  display: block;
  text-align: center;
  font-size: 43px;
  border: 2px solid #cccccc;
  color: #d43f52;
  width: 81px;
  height: 76px;
  padding-top: 5px;
}
.what_id_do .box h3 {
  font-size: 28px;
  font-weight: bold;
}
.what_id_do .box p {
  font-size: 15px;
}

.se_skiles .all_progress {
  margin: 20px auto;
}
.se_skiles .all_progress span {
  font-size: 14px;
}
.se_skiles .all_progress span.float-right {
  font-size: 13px;
  display: block;
  margin-bottom: -11px;
}
.se_skiles .all_progress .progress {
  height: 5px;
  margin-bottom: 20px;
}
.se_skiles .all_progress .progress .progress-bar {
  background-color: #D43F52;
  font-size: 10px;
}
.se_skiles .content h2 {
  color: #fff;
  font-family: auto;
  margin-bottom: 0px;
}
.se_skiles .content span {
  color: #D43F52;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}
.se_skiles .content p {
  font-size: 15px;
  color: #6f6e6e;
  font-family: none;
}

.sec_portfolio {
  padding: 91px 0;
  min-height: 727px;
  background-color: #272727;
}
.sec_portfolio .card {
  color: white;
  border: 0;
  border-radius: 0;
  height: 195px;
  overflow: hidden;
  position: relative;
}
.sec_portfolio .card:hover .card-body {
  opacity: 0.8;
}
.sec_portfolio .card .card-img-top {
  position: absolute;
  height: 195px;
  border-radius: 0;
}
.sec_portfolio .card .card-body {
  opacity: 0;
  position: absolute;
  color: #fefefe;
  background-color: #D43F52;
  padding: 21px 9px 14px 14px;
  height: 100%;
}
.sec_portfolio .card .card-body .card-title {
  font-weight: 400;
  font-size: 23px;
  padding: 0px 0px;
  margin-bottom: 0;
  color: #e1e1e1;
}
.sec_portfolio .card .card-body .main_color {
  font-weight: 500;
  font-size: 16px;
}
.sec_portfolio .card .card-body .card-text {
  font-size: 14px;
  margin: 10px 0;
  color: #ccc;
}
.sec_portfolio .card .card-body .main_btn {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 24px;
  font-size: 14px;
}
.sec_portfolio .card .card-body .main_btn:hover {
  border: 1px solid white;
}
.sec_portfolio .demo-gallery ul {
  text-align: center;
}
.sec_portfolio .demo-gallery ul li {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0;
}
.sec_portfolio .demo-gallery ul li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
.sec_portfolio .demo-gallery ul li a img {
  height: 100%;
  width: 100%;
  position: relative;
}
.sec_portfolio .demo-gallery ul li a .demo-gallery-poster {
  opacity: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0px;
  top: 0;
}
.sec_portfolio .demo-gallery ul li a .demo-gallery-poster .box {
  position: absolute;
  color: #fefefe;
  background-color: #D43F52;
  padding: 20% 9px 14px 14px;
  height: 100%;
}
.sec_portfolio .demo-gallery ul li a .demo-gallery-poster .box .card-img-top {
  position: absolute;
  height: 195px;
  border-radius: 0;
}
.sec_portfolio .demo-gallery ul li a .demo-gallery-poster .box .box-title {
  font-size: 24px;
  padding: 0px 0px;
  margin-bottom: 0;
  color: #d0cdcdd9;
}
.sec_portfolio .demo-gallery ul li a .demo-gallery-poster .box .box-text {
  font-size: 17px;
  font-family: auto;
  margin-top: 18px;
}

.sec_contact {
  background-color: #1f1f1f;
  color: White;
  padding: 80px 0;
}
.sec_contact .con_footer_box {
  padding: 20px 0;
}
.sec_contact .con_footer_box h3 {
  font-weight: bold;
  font-size: 21px;
  padding: 19px 0;
  padding-bottom: 5px;
}
.sec_contact .con_footer_box p {
  color: #8a8989;
  font-size: 16px;
  margin-bottom: 29px;
}
.sec_contact .con_footer_box .icons {
  padding-left: 13px;
  margin-top: 18px;
  overflow: hidden;
  height: 47px;
}
.sec_contact .con_footer_box .icons:hover .icon_box {
  background-color: #D43F52;
  border-color: #D43F52;
}
.sec_contact .con_footer_box .icons .title_box p {
  margin-top: 0px;
}
.sec_contact .social_media {
  padding: 22px 16px;
}
.sec_contact .social_media .icon_box {
  display: inline-block;
  margin-right: 26px;
}
.sec_contact .social_media .icon_box:hover {
  background-color: #D43F52;
  border-color: #D43F52;
}
.sec_contact .social_media .title_box p {
  margin-top: 0px;
}

.footer p {
  margin-bottom: 0;
  padding: 24px 0;
  color: #b4b3b3;
}

/*# sourceMappingURL=homepage.css.map */
