.main_slideshow{
    background-image:url(../images/home-bg.jpg);
    background-size: cover;
    height:600px;
    .content{
        width:100%;
        height: 100%;
        background-image: linear-gradient(#b3b3b3ad, #08080973);
        padding: 120px 0;
        h4{
            color: #e3e3e3;
            font-size: 24px;
        }
        a.main_btn{
            width: 259px;
        }
        h3{
            margin: 31px auto;
            color: #ce4b5b;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 0;
        }
        p{
            font-size: 18px;
            padding: 20px 164px;
            color: #b5b4b4;
        }
    }
}
// Start Section what_id_do
.what_id_do{
    background-color: #272727;
    color: #ccc;
    .box{
       span{
            display: block;
            text-align: center;
            font-size: 43px;
            border: 2px solid #cccccc;
            color: #d43f52;
            width: 81px;
            height: 76px;
            padding-top: 5px;
        }
        h3{
            font-size: 28px;
            font-weight: bold;
        }
        p{
            font-size: 15px;
        }
    }
}
// End Section what_id_do
// Start se_skiles
.se_skiles{
    .all_progress{
        margin:20px auto;
       span{
        font-size: 14px;
        &.float-right{
            font-size: 13px;
            display: block;
            margin-bottom: -11px;
        }
        }
        .progress{
            height: 5px;
            margin-bottom: 20px;
            .progress-bar{
                background-color: $Second_color;
                font-size: 10px;
            }
        } 
    }
    
    .content{
        h2{
            color: #fff;
            font-family: auto;
            margin-bottom: 0px;
        }
        span{
            color:$Second_color;
            margin-bottom: 10px;
            display: block;
            font-weight: bold;
        }
        p{
            font-size: 15px;
            color: #6f6e6e;
            font-family: none;
        }
    }
    
}
// End se_skiles
// Start PORTFOLIO Section
.sec_portfolio{
    padding: 91px 0;
    min-height: 727px;
    background-color: #272727;
    .card{
        color:white;
        border:0;
        border-radius: 0;
        height: 195px;
        overflow: hidden;
        @extend %main_transition;
        position: relative;
        &:hover{
            .card-body{
                opacity:.8;
            }
        }
        .card-img-top{
            position: absolute;
            height: 195px;
            border-radius: 0;
        }
        .card-body{
            opacity:0;
            position: absolute;
            color: #fefefe;
            background-color: $Second_color;
            padding: 21px 9px 14px 14px;
            height: 100%;
            @extend %main_transition;
            .card-title {
                font-weight: 400;
                font-size: 23px;
                padding: 0px 0px;
                margin-bottom: 0;
                color: #e1e1e1;
            }
            .main_color{
                font-weight: 500;
                font-size: 16px;
            }
            .card-text{
                font-size: 14px;
                margin: 10px 0;
                color: #ccc;
            }
            .main_btn{
                border: 1px solid #ffffff;
                color: #ffffff;
                padding: 5px 24px;
                font-size: 14px;
                &:hover{
                    border: 1px solid white;
                }
            }
        }
    }
    // light gallery
    .demo-gallery{
        ul {
            text-align: center;
            li{
                display: inline-block;
                margin-bottom:10px;
                padding: 0;
                a{
                    &:hover{
                        .demo-gallery-poster {
                            background-color: rgba(0, 0, 0, 0.5);
                            opacity:.8;
                            @extend %main_transition;
                        }   
                    }
                    img{
                        height: 100%;
                        width: 100%;
                        position: relative;
                    }
                    .demo-gallery-poster {
                        opacity: 0;
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0px;
                        top: 0;
                        @extend %main_transition;
                        .box{
                            position: absolute;
                            color: #fefefe;
                            background-color: $Second_color;
                            padding: 20% 9px 14px 14px;
                            height: 100%;
                            .card-img-top{
                                position: absolute;
                                height: 195px;
                                border-radius: 0;
                            }
                            .box-title {
                                font-size: 24px;
                                padding: 0px 0px;
                                margin-bottom: 0;
                                color: #d0cdcdd9;
                            }.box-text{
                                font-size: 17px;
                                font-family: auto;
                                margin-top: 18px;
                            }
                            
                        }
                        
                    }
               
                }
            }
        }
    
    }
}
// End sec_team Section
.sec_contact{
    background-color: #1f1f1f;
    color:White;
    padding: 80px 0;
    .con_footer_box{
        padding:20px 0;
        h3{
            font-weight: bold;
            font-size: 21px;
            padding: 19px 0;
            padding-bottom: 5px;
        }
        p{
            color: #8a8989;
            font-size: 16px;
            margin-bottom: 29px;
        }
        .icons{
            padding-left: 13px;
            margin-top: 18px;
            overflow: hidden;
            height: 47px;
            @extend %main_transition;
            &:hover{
                .icon_box{
                    background-color: $Second_color;
                    border-color: $Second_color;
                }
            }
            .icon_box{
                @extend %icon_box;
                @extend %main_transition;
            }.title_box {
                @extend %title_box;
                p{
                    margin-top: 0px;
                }
            }
            
        }
    }
    .social_media{
        padding: 22px 16px;
        .icon_box{
            @extend %icon_box;
            display: inline-block;
            margin-right: 26px;
            @extend %main_transition;
            &:hover{
                background-color: $Second_color;
                border-color: $Second_color;
            }
        }.title_box {
            @extend %title_box;
            p{
                margin-top: 0px;
            }
        }
    }
}
// End sec_contact