.header{
    .bg-light {
        background-color: $main_color!important;
    }
    .navbar-light{
        .navbar-nav {
            .nav-link {
                color: #ccc;
                font-size: 17px;
                @extend %main_transition;
                svg{
                    margin-right:3px;
                }
                &:focus, &:hover {
                    color:$Second_color;
                }
            }
            .active .nav-link{
                color:$Second_color;
            }
        }
    }
}
.main_nav{
    .bg-light {
        background-color: $bg_white !important;
    }
    .navbar-light{
        .navbar-nav {
            .nav-link {
                color: #a3a1a1;
                font-weight: bold;
                font-size: 17px;
                @extend %main_transition;
                &:focus, &:hover {
                    color:$Second_color;
                }
            }
            .active .nav-link{
                color:$Second_color;
            }
        }
        .navbar-brand{
            color:#a3a1a1;
            @extend %main_transition;
            &:focus, &:hover {
                color:$Second_color;
            }
        }
    }
}